@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-inter: 'Inter', sans-serif;
  --font-montserrat-arabic: 'Montserrat Arabic', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
@keyframes pulse {
  0%,
  100% {
    opacity: 0.4;
  }
  50% {
    opacity: 1;
  }
}
.bg-gradient {
  background:
    linear-gradient(274.75deg, rgba(9, 76, 59, 0) 3.83%, #00344b 36.96%),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}

.logo-loading {
  animation: pulse 1.5s infinite ease-in-out;
}

/* Navbar Link Indicator Bars */
.nav-indicator-bar {
  position: relative;
  overflow: hidden;
  background-color: #4ec0f4;
  height: 4px;
  border-radius: 5px;
}

.nav-indicator-bar::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 0%;
  height: 100%;
  background-color: #4ec0f4;
  transition: width 0.3s ease-out;
}

/* Active and Hover states */
.nav-indicator-active .nav-indicator-bar::before,
.nav-indicator-hover:hover .nav-indicator-bar::before {
  width: 100%;
}

/* Staggered delays for sequential fill */
.nav-indicator-bar:nth-child(1)::before {
  transition-delay: 0s;
}

.nav-indicator-bar:nth-child(2)::before {
  transition-delay: 0.3s;
}

.nav-indicator-bar:nth-child(3)::before {
  transition-delay: 0.6s;
}
body {
  /* color: var(--foreground); */
  /* background: var(--background); */
  /* font-family: Arial, Helvetica, sans-serif; */
  overflow-x: hidden !important;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f0f0f0; /* Track color */
}

::-webkit-scrollbar-thumb {
  background-color: #4ec0f4; /* Primary color */
  border-radius: 4px;
  border: 2px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #4ec0f4; /* Primary color */
}

/* Firefox (requires different selector) */
* {
  scrollbar-width: thin; /* auto | thin | none */
  scrollbar-color: #4ec0f4 #f0f0f0; /* thumb color, track color */
}
.slick-prev {
  background: #4ec0f4 !important;
  right: -40px !important;
  width: 30px !important;
  height: 30px !important;
  border-radius: 50%;
}
.slick-next {
  background: #4ec0f4 !important;
  left: -40px !important;
  width: 30px !important;
  height: 30px !important;
  border-radius: 50%;
}
html body[data-scroll-locked] {
  overflow: visible !important;
  margin-right: 0 !important;
}

.dir-ltr {
  direction: ltr;
}
.dir-rtl {
  direction: rtl;
}
input[type='search']::placeholder {
  padding-left: 10px;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 195 100% 14%;
    --card: 0 0% 100%;
    --card-foreground: 195 100% 14%;
    --popover: 0 0% 100%;
    --popover-foreground: 195 100% 14%;
    /* Primary: #4EC0F4 */
    --primary: 195 87% 63%;
    --primary-foreground: 0 0% 100%;
    /* Secondary: #00344B */
    --secondary: 199 100% 15%;
    --secondary-foreground: 0 0% 100%;
    /* Neutral: #007AB1 */
    --neutral: 199 100% 35%;
    --neutral-foreground: 0 0% 100%;
    /* Muted: #818181 */
    --muted: 0 0% 50.6%;
    --muted-foreground: 0 0% 100%;
    --accent: 195 87% 63%;
    --accent-foreground: 0 0% 100%;
    /* Red: #FF0000 */
    --destructive: 0 100% 50%;
    /* Red Foreground: #FFEDEA */
    --destructive-foreground: 10 100% 96%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 195 87% 63%;
    --chart-1: 195 87% 63%;
    --chart-2: 199 100% 35%;
    --chart-3: 199 100% 15%;
    --chart-4: 0 0% 51%;
    --chart-5: 0 100% 50%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 199 100% 15%;
    --foreground: 0 0% 100%;
    --card: 199 100% 15%;
    --card-foreground: 0 0% 100%;
    --popover: 199 100% 15%;
    --popover-foreground: 0 0% 100%;
    /* Primary: #4EC0F4 */
    --primary: 195 87% 63%;
    --primary-foreground: 199 100% 15%;
    /* Secondary: #00344B */
    --secondary: 199 100% 15%;
    --secondary-foreground: 0 0% 100%;
    /* Neutral: #007AB1 */
    --neutral: 199 100% 35%;
    --neutral-foreground: 0 0% 100%;
    /* Muted: #818181 */
    --muted: 0 0% 50.6%;
    --muted-foreground: 0 0% 100%;
    --accent: 195 87% 63%;
    --accent-foreground: 199 100% 15%;
    /* Red: #FF0000 */
    --destructive: 0 100% 50%;
    /* Red Foreground: #FFEDEA */
    --destructive-foreground: 10 100% 96%;
    --border: 199 100% 25%;
    --input: 199 100% 25%;
    --ring: 195 87% 63%;
    --chart-1: 195 87% 63%;
    --chart-2: 199 100% 35%;
    --chart-3: 199 100% 15%;
    --chart-4: 0 0% 51%;
    --chart-5: 0 100% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

div {
  scroll-margin-top: 200px; /* Adjust to your navbar height */
}
